{% include base_path %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- Publication citation text -->
    <p class="pub-citation" itemprop="headline">
      {{ post.title | markdownify | replace: '<p>', '' | replace: '</p>', '' }}
    </p>

    {% if post.show_abstract %}
      <details><summary>Abstract</summary>
        <blockquote>{{ post.content | markdownify }}</blockquote>
      </details>
    {% endif %}

    <!-- Buttons -->
    <a href="{{ post.url | relative_url }}" class="btn">Details</a>
    {% if post.paperurl   %}<a href="{{ post.paperurl   }}" class="btn--html">PDF</a>{% endif %}
    {% if post.slidesurl  %}<a href="{{ post.slidesurl  }}" class="btn--html">Slides</a>{% endif %}
    {% if post.posterurl  %}<a href="{{ post.posterurl  }}" class="btn--html">Poster</a>{% endif %}
  </article>
</div>
