{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2 class="archive__item-title" itemprop="headline">
      {{ post.title }}
    </h2>

    <!-- Optional inline abstract toggle -->
    {% if post.show_abstract %}
      <details><summary>Abstract</summary>
        <blockquote>{{ post.content | markdownify }}</blockquote>
      </details>
    {% endif %}

    <a href="{{ post.url | relative_url }}" class="btn">Details</a>
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}" class="btn--html">PDF</a>
    {% endif %}
    {% if post.htmlurl %}
      <a href="{{ post.htmlurl }}" class="btn--html">HTML</a>
    {% endif %}

  </article>
</div>

